<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.jboss.aerogear.cookbook"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    
    <permission
        android:name="org.jboss.aerogear.cookbook.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="org.jboss.aerogear.cookbook.permission.C2D_MESSAGE" />

    <application android:name=".GuideApplication" android:icon="@drawable/ic_launcher"
                 android:label="@string/app_name" android:theme="@style/Theme.AppCompat.Light">
        <receiver
            android:name="org.jboss.aerogear.android.unifiedpush.AeroGearGCMMessageReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="org.jboss.aerogear.cookbook" />
            </intent-filter>
            <meta-data android:name="DEFAULT_MESSAGE_HANDLER_KEY"
                android:value="org.jboss.aerogear.cookbook.push.NotifyingHandler"/>
        </receiver>
        <activity android:name="Main" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".pipeline.HowToUsePipe" android:label="@string/app_name" />
        <activity android:name=".pipeline.HowToUsePipeWithPagination" android:label="@string/app_name" />
        <activity android:name=".pipeline.HowToUseCustomPipe" android:label="@string/app_name" />
        <activity android:name=".datamanager.HowToUseMemoryStorage" android:label="@string/app_name" />
        <activity android:name=".authentication.HowToUseAuthentication" android:label="@string/app_name" />
        <activity android:name=".authentication.HowToUseHttpBasicAuthentication" android:label="@string/app_name" />
        <activity android:name=".authentication.HowToUseDigestAuthentication" android:label="@string/app_name" />
        <activity android:name=".push.HowToUsePushActivity" android:label="@string/app_name" />
        <activity android:name=".upload.HowToUseMultipartUpload" android:label="@string/app_name" />
    </application>
</manifest> 
