<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jboss.aerogear.syncdemo">


    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="org.jboss.aerogear.syncdemo.permission.C2D_MESSAGE" />

    <permission
        android:name="org.jboss.aerogear.syncdemo.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme.Base">
        <activity
            android:name=".SignInActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="org.jboss.aerogear.sync.DiffSyncClientHandler"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="org.jboss.aerogear.syncdemo" />
            </intent-filter>
        </receiver>
        
        <service android:name="org.jboss.aerogear.android.authorization.oauth2.OAuth2AuthzService" />
        <service android:name="org.jboss.aerogear.syncdemo.sync.SyncService" />

        <activity
            android:name=".SigningInActivity"
            android:label="@string/title_activity_signing_in"></activity>
        <activity
            android:name=".DocsActivity"
            android:label="@string/title_activity_docs"></activity>
        <activity
            android:name=".sync.DiffSyncMainActivity"
            android:label="@string/title_activity_docs"></activity>
    </application>

</manifest>
